# Bytecode & cache
__pycache__/
*.py[cod]
*.pyo

# Build artifacts (PyInstaller)
build/
dist/
src/build/
src/dist/

*.pdf

docs/demo-files

# Executable file 
*.exe

# File log, temp
*.log
*.tmp
*.bak
*.zip




